node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.env.local
.nyc_output
coverage
.DS_Store
*.log
Dockerfile
.dockerignore
client/node_modules
server/node_modules
client/build
.vscode
.idea
